.navbar {
  padding: 1rem 0;
}

.contact-info {
  color: #666;
}

.search-box {
  width: 300px;
}

.search-box .form-control {
  border-radius: 20px 0 0 20px;
  border-right: none;
}

.search-box .btn {
  border-radius: 0 20px 20px 0;
  border-left: none;
  background-color: white;
}

.search-box .form-control:focus {
  box-shadow: none;
  border-color: #dc3545;
}

.search-box .btn:hover {
  background-color: #f8f9fa;
}

/* src/app/components/header/header.component.scss */

.navbar-brand {
  .logo-img {
    /* İstediğin boyutu buraya gir */
    width: 350px;    
  }
}
